<!DOCTYPEhtml>
<html>
<head>
<title>PageTitle</title>
{%blockhead%}{% endblock%}
<linkhref="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap. min.css"
rel="stylesheet" integrity="sha384- iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"cro ssorigin="anonymous">
<scriptsrc="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.b undle.min.js"
integrity="sha384- u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi4 66C8"crossorigin="anonymous">
</script>

</head>
<body>

<ahref="/">HOME</a>
<ahref="/Blog">BLOG</a>
<ahref="/Signin">SIGNIN</a>
<ahref="/Signup">SIGNUP</a>
<hr><br>
<divclass="container">
{%blockbody%}{%endblock%}
</div>
</body>
</html>