{%extends'base.html'%}
{%blockhead%}
<title>HomePage</title>
{%endblock%}
{%blockbody%}
<h1>Helloeveryone,</h1>
<divclass="p-5mb-4bg-lightrounded-3">
<divclass="container-fluidpy-5">
<h1class="dispay-5fw-bold">WIFITECHNOLOGY<h1>
<pclass="col-md-8fs-4">Kubernetes (also known as k8s or “kube”) is an open source container orchestration platform that automates many of the manual processes involved in deploying, managing, and scaling containerized applications. </p>
</div>

</div>
{%endblock%}
