{%extends'base.html'%}
{%blockhead%}
<title>SignupPage</title>
{%endblock%}
{%blockbody%}
<h1>SignupPage</h1>
<formaction="Signup"method="POST">
<label>Name</label><br>
<inputtype="text"name="name"><br><br>
<label>Email</label><br>
<inputtype="email"name="email"><br><br>
<label>Phone</label><br>
<inputtype="text"name="phone"><br><br>
<label>Password</label><br>
<inputtype="password"name="name"><br><br>
<label>RetypePassword</label><br>
<inputtype="password"name="name"><br><br><br>
<inputtype="submit"class="btnbtn-primary">
</form>
{%endblock%}
